# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Dependencies
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.Python
develop-eggs/
parts/
sdist/
var/
wheels/

# Unit test / coverage
.tox/
.coverage
.cache
.pytest_cache/
htmlcov/

# Jupyter
.ipynb_checkpoints

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
db.sqlite3   